<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ponny.org.monitora">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-feature android:name="android.hardware.bluetooth_le" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- Es nescesario para usar el API de Bluetooth -->
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".views.common.permissions.PermissionCheckActivity" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PatientActivity"
            android:label="@string/title_activity_patient" />
        <activity
            android:name=".ProfilePatient"
            android:label="@string/title_activity_profile_patient"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.paciente.PacienteMain"
            android:label="@string/title_activity_paciente_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.medico.MedicoMain"
            android:label="@string/title_activity_medico_main"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".models.firebase.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".models.firebase.FirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".models.bluetooth.BluetoothLeService"
            android:enabled="true" />

        <activity
            android:name=".views.paciente.MuestraOximetria"
            android:label="@string/title_activity_muestra_oximetria"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.medico.VistaPacienteMedico"
            android:label="@string/title_activity_vista_paciente_medico"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.common.fragments.InboxDetails"
            android:label="@string/title_activity_inbox_details"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>